<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Deeplink22Nov16.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>516A7C2E1DE4085E00AC29EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>516A7C421DE4086000AC29EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>516A7C4D1DE4086000AC29EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
